Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
*.log
*.html
.vscode/settings.json
effective.pom
.abandoned/
abandoned/
logs/
**/reports/*
**/spec-validation-output.txt
**/spec-validation-output-release.txt

**/*.versionsBackup
.maven.profiling.*
.oca
